.nav {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 10)),
    url("./download.jpg");
  background-size: contain;
  width: 100%;
  margin-top: -1%;
  ul {
    margin-left: auto;
    width: 30%;
    display: flex;
    justify-content: space-around;
    .link {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
    }
    .link:hover {
      // padding-bottom: 2px;
      // border-bottom: 2px solid red;
      transition: 0.2s ease;
    }
  }

  // border: 1px solid red;
}
